@charset "UTF-8";
body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}
li {
  list-style: none;
}
.nav_all {
  width: 100%;
  position: fixed;
  background-color: #feeeed;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);
}
.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_item {
  font-size: 18px;
  padding: 0 24px;
}
.nav_link {
  display: inline-block;
  padding: 20px 0;
  color: #333;
}
.nav_link:hover {
  color: #ef4868;
}
#top {
  display: flex;
  height: 400px;
  background: url(../test_img/Top_test.png) no-repeat center;
  background-size: cover;
}

.top_title {
  padding: 20px 50px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
  margin-top: 180px;
  margin-left: 80px;
  float: left;
}
.top_subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
  margin-left: 140px;
}
.section {
  padding: 120px 0;
}
.section:nth-of-type(odd) {
  background-color: #feeeed;
}
.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.font1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #ef4868;
  margin-bottom: 60px;
}

.font2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.font3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.font4 {
  width: 60%;
  margin: 0 auto;
}
.about_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_img {
  display: block;
  width: 25%;
  margin: 0 auto 30px;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 #d9d9d9;
}
.about_detail h3 {
  font-size: 30px;
  font-weight: bold;
}
.font5 {
  font-size: 18px;
  font-weight: bold;
}
.font5 {
  font-size: 16px;
}

.skill_item {
  display: flex;
  margin-bottom: 50px;
}
.skill_img {
  margin-right: 20px;
}
.skill_img img {
  width: 60px;
}
.skill_other {
  display: flex;
  justify-content: center;
}
.skill_other_img {
  margin: 0 30px 0 30px;
  text-align: center;
  width: 120px;
}
.skill_other_img img {
  width: 60px;
}

.skill_name p {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}

.work_all {
  display: flex;
  flex-wrap: wrap;
}
.work_item {
  flex: 32%;
  margin-right: 2%;
}

.work_item:nth-of-type(3n) {
  margin-right: 0;
}

.work_item a img {
  width: 100%;
}
.work_body p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}
.GitHub_link {
  padding-top: 20px;
}

.contact_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_list li {
  list-style: none;
}
.contact_item {
  width: 60px;
}
.contact_mail {
  margin-top: 10px;
  text-align: center;
}
.bottom {
  background-color: #333;
}
